@import '../../Common/Scss/variables.scss';

.tabs {
    display: flex;

    &__panels {
        list-style: none;
        height: 100%;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 3px;
            height: 100%;
            background: #233554;
        }

        &__tab {
            position: relative;
            padding: 10px;
            font-size: 2.5rem;
            color: $primary-text-color;
            cursor: pointer;
            margin-right: 40px;
            padding-left: 15px;
            min-width: 200px;

            &:hover {
                background-color: $secondary-background-color;
                color: $secondary-text-color;
            }

            &.active::before {
                position: absolute;
                content: '';
                width: 3px;
                background: $secondary-text-color;
                left: 0px;
                top: 0px;
                height: 100%;
                border-radius: 5px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .tabs {
        display: flex;
        flex-direction: column;

        &__panels {
            display: flex;
            margin-bottom: 20px;
            overflow-x: auto;

            &__tab {
                min-width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background: #233554;
                bottom: 0px;
            }
            &__tab {
                &.active::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: $secondary-text-color;
                    top: 95%;
                }
            }
        }
    }
}
