@import '../../Common/Scss/variables.scss';

.infoCardContainer {
    background-color: $secondary-background-color;
    border-radius: 5px;
    padding: 30px;

    &__header {
        font-size: 2.5rem;
    }

    &__body {
        &__details {
            font-size: 1.5rem;
            line-height: 20px;
        }

        &__chips {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;

            &__chip {
                font-size: 1.7rem;
                color: $secondary-text-color;
                margin: 5px 15px;
                flex-wrap: wrap;
            }
        }
    }
}
