$primary-text-color: #c2cceb;
$secondary-text-color: #64ffda;
$primary-background-color: #0c1d35;
$background-hover-color: #163460;

// $primary-text-color: #edebdc;
// $secondary-text-color: #c78c37;
// $background-hover-color: #759492;
// $primary-background-color: #25183b;

// $primary-text-color: #f0f1f2;
// $secondary-text-color: #8e99a3;
// $background-hover-color: #818292;
// $primary-background-color: #182127;

// $primary-text-color: #f1f1ef;
// $secondary-text-color: #50d2eb;
// $background-hover-color: #6470c4;
// $primary-background-color: #1e2a53;
