@import '../../Common/Scss/variables.scss';

.navbarContainer {
    height: 100px;
    width: 100%;

    background: $primary-background-color;
    box-shadow: 0 10px 30px -10px #5ff2d209;
    padding: 0px 80px;
    backdrop-filter: blur(20px);

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    &__mobileMenu {
        display: none;
    }

    &__logo {
        font-size: 6rem;
        color: $secondary-text-color;
        text-decoration: none;

        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 2px double;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__links {
        display: flex;
        list-style-type: none;
        align-items: center;

        &__button {
            list-style: none;
        }

        & li {
            margin-left: 50px;
            position: relative;
        }

        &__link {
            color: $primary-text-color;
            font-size: 2rem;
            cursor: pointer;
            text-decoration: none;

            &::before {
                position: absolute;
                left: -15px;
                content: '\2022';
                color: $secondary-text-color;
                font-weight: bold;
                font-size: 2rem;
                display: inline-block;
                width: 10px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .navbarContainer {
        &__mobileMenu {
            display: block;
            background: transparent;
            cursor: pointer;

            & i {
                background: $primary-background-color;
                color: $secondary-text-color;
                font-size: 3rem;
            }
        }
        &__links {
            display: none;
        }
    }
}

.mobile__navbarContainer__links {
    position: absolute;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary-background-color;
    overflow-x: hidden;
    transition: 0.5s;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;

    & li {
        margin-top: 30px;
    }

    &__link {
        font-size: 2rem;
        color: $primary-text-color;
        text-decoration: none;
        padding: 10px 20px;

        &:hover {
            background-color: $background-hover-color;
            color: $secondary-text-color;
        }
    }

    &__close {
        position: absolute;
        font-size: 3rem;
        color: $primary-text-color;
        top: 5%;
        left: 5%;
        cursor: pointer;
    }
}
