@import '../../Common/Scss/variables.scss';

.portfolio {
    &__wrapper {
        padding: 100px 220px 0px;
        &__heroSection {
            margin: 50px 0px;

            & .resume-download {
                margin-top: 30px;
                display: inline-block;
                font-size: 3rem;
            }

            &__name {
                font-size: 11rem;
                color: $primary-text-color;
            }

            &__tagname {
                font-size: 6rem;
                color: $primary-text-color;
                opacity: 0.7;
            }
        }
    }
}

.serviceContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    &__item {
        margin: 10px;
        width: 40%;
        min-width: 300px;
    }
}

.applicationDetails {
    font-size: 3rem;
    margin-bottom: 50px;
    color: $primary-text-color;

    & span {
        color: $secondary-text-color;
        font-size: 4rem;
        font-weight: 700;
    }
}

@media all and (max-width: 900px) {
    .portfolio {
        width: 100%;
        &__wrapper {
            padding: 100px 70px 100px 100px;
        }
    }
    .sidebarContainer {
        left: 30px;
    }

    .asidebarContainer {
        right: 10px;
    }

    .navbarContainer {
        padding: 0px 40px;
    }
}

@media all and (max-width: 520px) {
    .portfolio__wrapper__heroSection__name {
        font-size: 7rem;
    }
    .contactContainer__email.paragraph_text {
        font-size: 1.5rem;
    }
}

.imageInfoWrapper__list {
    margin-top: 15px;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.contactContainer {
    text-align: center;

    &__email {
        color: $secondary-text-color;
        letter-spacing: 4px;
    }

    & .buttonContainer {
        margin-top: 10px;
    }
}

footer {
    text-align: center;
    padding: 2px;
    & .footer__info {
        margin: 80px 0px 10px 0px;
        display: block;
        font-size: 1.5rem;
        color: $secondary-text-color;
    }
}

@media all and (max-width: 1000px) {
    .imageInfo {
        flex-direction: column-reverse;
    }
    .imageInfo__details {
        display: none;
    }
}
