@import '../../Common/Scss/variables.scss';

.portfolio__wrapper {
    width: 100%;

    padding: 100px 220px 0px;
    &__heroSection {
        margin: 50px 0px;

        &__name {
            font-size: 11rem;
            color: $primary-text-color;
        }

        &__tagname {
            font-size: 6rem;
            color: $primary-text-color;
            opacity: 0.7;
        }
    }
}

@media screen and (max-width: 900px) {
    .portfolio__wrapper {
        padding: 100px;
    }
    .sidebarContainer {
        left: 30px;
    }

    .asidebarContainer {
        right: 10px;
    }

    .navbarContainer {
        padding: 0px 40px;
    }
}

.imageInfoWrapper__list {
    margin-top: 15px;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.contactContainer {
    text-align: center;

    &__email {
        color: $secondary-text-color;
        letter-spacing: 4px;
    }

    & .buttonContainer {
        margin-top: 10px;
    }
}

footer {
    text-align: center;
    padding: 2px;
    & .footer__info {
        margin: 80px 0px 10px 0px;
        display: block;
        font-size: 1.5rem;
        color: $secondary-text-color;
    }
}
